<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="wrapper">
    @import "header-second.html"
    <div id="wrapper-content">
        <div class="catalog">
            <div class="catalog-content">
                <div class="search-result">
                    <div class="search-result__item">Баку</div>
                    <div class="search-result__item">10.10 - 20.10</div>
                    <div class="search-result__item">3 человека</div>
                    <a href="#" class="search-result__btn">
                        <svg class="search-result__icon">
                            <use xlink:href="img/sprite/sprite.svg#search"></use>
                        </svg>
                    </a>
                </div>
                <div class="catalog__head">
                    <div class="catalog__head-row">
                        <h2 class="title">Жилье в Баку</h2>
                        <div class="sorting">
                            <button class="btn-light"><span>ОТ ДЕШЕВЫХ</span>
                                <svg class="arrow arrow-down">
                                    <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                                </svg>
                            </button>
                            <div class="sorting-drop">
                                <ul class="sorting-menu">
                                    <li class="sorting-option active">ОТ ДЕШЕВЫХ</li>
                                    <li class="sorting-option">ОТ дорогих</li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <div class="btns-filter">
                        <a href="#" class="btn-white btn-filter">Цена</a>
                        <a href="#" class="btn-white btn-filter">Количество комнат</a>
                        <a href="#" class="btn-white btn-filter hide">Метро</a>
                        <a href="#" class="btn-white btn-filter btn-filter-all ">
                            Все Фильтры
                            <svg class="arrow arrow-down">
                                <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                        <label class="hide">
                            <input type="checkbox" class="checkbox">
                            <span class="btn-white check-reservation">Мгновенная бронь</span>
                        </label>
                      
                    </div>
                </div>
                <ul class="catalog-list" id="catalog-list">
                    <li class="card-item">
                        <div class="card-top">
                            <div class="card-slider">
                                <div class="slide">
                                    <img src="img/foto.jpg" alt="image room" class="card-img">
                                </div>
                                <div class="slide">
                                    <img src="img/foto.jpg" alt="image room" class="card-img">
                                </div>
                                <div class="slide">
                                    <img src="img/foto.jpg" alt="image room" class="card-img">
                                </div>
                            </div>
                            <div class="card-top__info">
                                <a href="#" class="text-15 c-white">2 комнаты</a>
                                <div class="star">
                                    <img src="img/star.svg" alt="star" class="img-star">
                                    <span class="text-15">5,0 <span class="c-gray-light"> (98)</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-col">
                            <div class="card-content">
                                <div class="discount">-10%</div>
                                <a href="#" class="text-16">Просторная и современная квартира в центре города</a>
                                <div class="card-info">
                                    <div class="card-info__left">
                                        <p class="card-info__item bg-light-yellow">Опытный владелец</p>
                                        <p class="card-info__item bg-light-pink">Редкая находка</p>
                                    </div>
                                    <p class="c-blue">Всего $180</p>
                                </div>
                                <div class="card-row">
                                    <a href="#" class="location">
                                        <span class="pin"></span>
                                        <p>
                                            <span class="address" data-lat="40.371950" data-lng="49.846418">ул. Зарифа Алиева, 28</span>
                                            0,5 км от центра
                                        </p>
                                    </a>
                                    <div class="price">
                                        <span class="c-blue">Всего $180</span>
                                        <div class="price-row">
                                            <span class="price-crossed">$50</span>
                                            <span class="price-item" >$45</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="card-bottom">
                                <input type="checkbox" class="checkbox">
                                <span><img src="img/lightning.svg" alt="lightning" class="img-lightning"> МГНОВЕННОЕ БРОНИРОВАНИЕ</span>
                                <svg class="instant-reservation">
                                    <use xlink:href="img/sprite/sprite.svg#heart"></use>
                                </svg>
                            </label>
                        </div>


                    </li>
                    <li class="card-item">
                        <div class="card-top">
                            <div class="card-slider">
                                <div class="slide">
                                    <img src="img/foto.jpg" alt="image room" class="card-img">
                                </div>
                                <div class="slide">
                                    <img src="img/foto.jpg" alt="image room" class="card-img">
                                </div>
                            </div>
                            <div class="card-top__info">
                                <a href="#" class="text-15 c-white">2 комнаты</a>
                                <div class="star">
                                    <img src="img/star.svg" alt="star" class="img-star">
                                    <span class="text-15">5,0 <span class="c-gray-light"> (98)</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-col">
                            <div class="card-content">
                                <a href="#" class="text-16">Просторная и современная квартира в центре города</a>
                                <div class="card-info">
                                    <div class="card-info__left"></div>
                                    <p class="c-blue">Всего $180</p>
                                </div>
                                <div class="card-row">
                                    <a href="#" class="location">
                                        <span class="pin"></span>
                                        <p>ул. Зарифа Алиева, 2
                                            <span>0,5 км от центра</span>
                                        </p>
                                    </a>
                                    <div class="price">
                                        <span class="c-blue">Всего $180</span>
                                        <div class="price-row">
                                            <span class="price-item">$45</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="card-bottom">
                                <input type="checkbox" class="checkbox">
                                <span><img src="img/lightning.svg" alt="lightning" class="img-lightning"> МГНОВЕННОЕ БРОНИРОВАНИЕ</span>
                                <svg class="instant-reservation">
                                    <use xlink:href="img/sprite/sprite.svg#heart"></use>
                                </svg>
                            </label>
                        </div>


                    </li>
                    <li class="card-item">
                        <div class="card-top">
                            <div class="card-slider">
                                <div class="slide">
                                    <img src="img/foto.jpg" alt="image room" class="card-img">
                                </div>
                                <div class="slide">
                                    <img src="img/foto.jpg" alt="image room" class="card-img">
                                </div>
                            </div>
                            <div class="card-top__info">
                                <a href="#" class="text-15 c-white">2 комнаты</a>
                                <div class="star">
                                    <img src="img/star.svg" alt="star" class="img-star">
                                    <span class="text-15">5,0 <span class="c-gray-light"> (98)</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-col">
                            <div class="card-content">
                                <a href="#" class="text-16">Просторная и современная квартира в центре города</a>
                                <div class="card-info">
                                    <div class="card-info__left"></div>
                                    <p class="c-blue">Всего $180</p>
                                </div>
                                <div class="card-row">
                                    <a href="#" class="location">
                                        <span class="pin"></span>
                                        <p>ул. Зарифа Алиева, 2
                                            <span>0,5 км от центра</span>
                                        </p>
                                    </a>
                                    <div class="price">
                                        <span class="c-blue">Всего $180</span>
                                        <div class="price-row">
                                            <span class="price-item">$45</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="card-bottom">
                                <input type="checkbox" class="checkbox">
                                <span><img src="img/lightning.svg" alt="lightning" class="img-lightning"> МГНОВЕННОЕ БРОНИРОВАНИЕ</span>
                                <svg class="instant-reservation">
                                    <use xlink:href="img/sprite/sprite.svg#heart"></use>
                                </svg>
                            </label>
                        </div>


                    </li>
                </ul>
                <nav aria-label="navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-prev page-arrow" href="#"></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link active" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item"><a class="page-next page-arrow" href="#"></a></li>
                    </ul>
                </nav>
            </div>

            <div id="map"></div>
        </div>

    </div>
    @import "footer.html"
    @import "popups.html"
</div>

<script src="https://maps.google.com/maps/api/js?key=AIzaSyDuwDDiV2qbQiZExI0-ddTsMltbyYlS9IM"></script>
<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>

<script src="js/map.js"></script>

<script src="js/common.js"></script>


</body>
</html>
