<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=400, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/daterangepicker.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="wrapper">
    <header class="payment__head">
        <div class="container">
            <div class="payment__head-row">
                <a href="#" class="logo">Xx
                    <span class="logo-span">.</span>
                </a>
                <ul class="step">
                    <li class="step-item">
                        <a href="#" class="step-link active">
                            1. Просмотрите правила дома
                            <svg class="step-arrow">
                                <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="step-item">
                        <a href="#" class="step-link">
                            2. Кто приезжает?
                            <svg class="step-arrow">
                                <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="step-item">
                        <a href="#" class="step-link">
                            3. Подтвердите и оплатите
                        </a>

                    </li>
                </ul>
            </div>

        </div>

    </header>
    <div id="wrapper-content">
        <div class="container">
            <div class="payment">
                <h2 class="title">Правила дома</h2>
                <div class="payment__block">
                    <div class="like-box">
                        <img src="img/medical.svg" alt="medical" class="like-box__icon">
                        <div class="like-box__col">
                            <p class="like-box__title">Людям нравится это объявление</p>
                            <p class="like-box__text">На прошлой неделе этими датами интересовались другие люди (5)</p>
                        </div>
                    </div>
                    <p class="text-17">10 ночей в г. Баку</p>
                    <div class="payment__info">
                        <div class="payment__info-item">
                            <p class="text-16">10 сентября</p>
                            <p class="payment__info-text">Прибытие в четверг после 15:00</p>
                        </div>
                        <div class="payment__info-item">
                            <p class="text-16">20 сентября</p>
                            <p class="payment__info-text">Выезд в воскресенье
                                в 11:00</p>
                        </div>
                    </div>
                    <ul class="list">
                        <li class="list-item">Самостоятельное прибытие (Мини-сейф)</li>
                    </ul>
                </div>
                <div class="remember">
                    <p class="text-17">что нужно помнить</p>
                    <div class="remember__row">
                        <div class="remember__item">
                            <svg class="remember__icon">
                                <use xlink:href="img/sprite/sprite.svg#arrow-down"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment__form">

            </div>
        </div>

    </div>
    @import "footer.html"
    @import "popups.html"
</div>


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
